<h2><%=h tag%> Links <% if @user %>(<a href="/add_link">add link</a>)<% end %>:</h2>
<ul>
  <% links.each do |link| %>
    <li>
      <%= erb :link, :locals => {:link => link, :user => @user}, :layout => false %>
    </li>
  <% end %>
</ul>
