%form{:method => 'POST', :action => dest}
  - object.class.properties.each do |prop|
    - if prop.form_field?
      %div
        %label{:for => prop.field} Enter #{prop.human_name}:
        %input{:type => prop.input_type,
          :id => prop.field,
          :name => prop.field}
        - object.errors[prop.name].each do |errmsg|
          %span.error&= errmsg
  %div
    %input{:type => 'submit', :value => action}
%div Note: This form is not currently encrypted, do not reuse an important password.
