<h2>Snippet : "<%=h snippet.name %>" shared by <%=h snippet.user.username %></h2>
<pre class="prettyprint linenums"><%=h snippet.content %></pre>
<script type="text/javascript">$(function() { prettyPrint(); });</script>

